<a href="https://colab.research.google.com/github/ru2zi/Section1_Project/blob/main/Game_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

https://eda-ai-lab.tistory.com/14 (결측치 처리)

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/AI부트캠프/프로젝트1/vgames2.csv', index_col = 0)

In [ ]:
mask = df['NA_Sales'].str.contains('K',case = False, na = True) | df['EU_Sales'].str.contains('K',case = False, na = True) | df['JP_Sales'].str.contains('K',case = False, na = True) | df['Other_Sales'].str.contains('K',case = False, na = True) | df['NA_Sales'].str.contains('M',case = False, na = True) | df['EU_Sales'].str.contains('M',case = False, na = True) | df['JP_Sales'].str.contains('M',case = False, na = True) | df['Other_Sales'].str.contains('M',case = False, na = True)

In [ ]:
#case = False: 대소문자 구분 x

In [ ]:
len(df[mask])/len(df)

In [ ]:
#k,m포함 비율 전체에서 5%

In [ ]:
df[mask]

In [ ]:
df

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

https://velog.io/@gooook/python-%EC%A0%95%EA%B7%9C%ED%91%9C%ED%98%84%EC%8B%9D-%EB%8B%A8%EC%9C%84%EB%B3%80%ED%99%98-%EB%B2%94%EC%A3%BC%EC%84%A4%EC%A0%95

In [ ]:
#단위 제거 함수 선언
def fix_columns(col):
    temp_list = []

    for i in col:
        temp = float(i.replace("K",""))
        temp_list.append(temp)

    return temp_list

In [ ]:
df['NA_Sales'] = df['NA_Sales'].str.replace(pat=r'[M]', repl=r'', regex=True)

In [ ]:
df['EU_Sales'] = df['EU_Sales'].str.replace(pat=r'[M]', repl=r'', regex=True)

In [ ]:
df['JP_Sales'] = df['JP_Sales'].str.replace(pat=r'[M]', repl=r'', regex=True)

In [ ]:
df['Other_Sales'] = df['Other_Sales'].str.replace(pat=r'[M]', repl=r'', regex=True)

In [ ]:
les1 = df.loc[df['NA_Sales'].str.contains('K',case = False, na = True) ]

In [ ]:
les1['NA_Sales'] = fix_columns(les1['NA_Sales'])

In [ ]:
les1['NA_Sales'] = les1['NA_Sales']*0.001

In [ ]:
df['NA_Sales'].loc[df['NA_Sales'].str.contains('K')] = les1['NA_Sales']

In [ ]:
les2 = df.loc[df['EU_Sales'].str.contains('K',case = False, na = True) ]

In [ ]:
les2['EU_Sales'] = fix_columns(les2['EU_Sales'])

In [ ]:
les2['EU_Sales'] = les2['EU_Sales']*0.001

In [ ]:
df['EU_Sales'].loc[df['EU_Sales'].str.contains('K')] = les2['EU_Sales']

In [ ]:
les3 = df.loc[df['JP_Sales'].str.contains('K',case = False, na = True) ]

In [ ]:
les3['JP_Sales'] = fix_columns(les3['JP_Sales'])

In [ ]:
les3['JP_Sales'] = les3['JP_Sales']*0.001

In [ ]:
df['JP_Sales'].loc[df['JP_Sales'].str.contains('K')] = les3['JP_Sales']

In [ ]:
les4 = df.loc[df['Other_Sales'].str.contains('K',case = False, na = True) ]

In [ ]:
les4['Other_Sales'] = fix_columns(les4['Other_Sales'])

In [ ]:
les4['Other_Sales'] = les4['Other_Sales']*0.001

In [ ]:
df['Other_Sales'].loc[df['Other_Sales'].str.contains('K')] = les4['Other_Sales']

In [ ]:
df.dtypes

In [ ]:
df = df.astype({'NA_Sales':'float','EU_Sales':'float', 'JP_Sales':'float', 'Other_Sales':'float'})

In [ ]:
df.isnull().sum()

In [ ]:
df[df['Publisher'] == 'Unknown']

In [ ]:
df = df.replace({'Publisher' : 'Unknown'}, np.nan)

In [ ]:
df.isnull().sum()

In [ ]:
df.describe()

In [ ]:
 df.loc[df['Year' or 'Genre' or 'Publisher'].isna()]

In [ ]:
df_n = df.dropna(axis = 0)

In [ ]:
df_n.isnull().sum()

In [ ]:
df_n.dtypes

In [ ]:
df_n = df_n.astype({'NA_Sales':'float','EU_Sales':'float', 'JP_Sales':'float', 'Other_Sales':'float', 'Year':'int'})
df_n.dtypes
#year을 실수에서 정수로

In [ ]:
df_n = df_n.reset_index(drop=True)

In [ ]:
df_n['Name'].unique()

In [ ]:
df_n['Platform'].unique()

In [ ]:
df_n['Year'].unique()

In [ ]:
#아래와 같이 조건문을 통해 일괄 바꾸려 했으나 숫자 앞에 어떻게 일관된 숫자가 아닌 20 2000 등을 집어넣을 지 잘 모르겠습니다.

In [ ]:
str_expr_19 = "100 > Year >= 22"    
df_19 = df_n.query(str_expr_19)

In [ ]:
str_expr_20_0 = "Year == 0"    
df_20_0 = df_n.query(str_expr_20_0)

In [ ]:
str_expr_20_1 = "10 > Year >= 1"    
df_20_1 = df_n.query(str_expr_20_1)

In [ ]:
str_expr_20_2 = "20 > Year >= 10"    
df_20_2 = df_n.query(str_expr_20_2)

In [ ]:
#따라서 아래와 같이 replace함수를 통해 하나하나 바꿨습니다.

In [ ]:
df_n = df_n.replace({'Year': {86:1986, 94:1994, 95:1995, 96:1996, 97:1997, 98:1998, 99:1999,0:2000, 1:2001, 2:2002, 3:2003, 4:2004, 5:2005, 6:2006, 7:2007, 8:2008, 9:2009, 10:2010, 11:2011, 12:2012, 13:2013, 14:2014, 15:2015, 16:2016}})

In [ ]:
df_n['Year'].unique()

In [ ]:
df_n = df_n.astype({'Year':'str'})
df_n.dtypes

In [ ]:
df_n['Genre'].unique()

In [ ]:
df_n['Publisher'].unique()

In [ ]:
#나라별 출고량 수치를 더한 Global이란 새로운 변수를 만들어서 행별 게임의 출고량을 직관적으로 보기 쉽게 하였습니다.

In [ ]:
df_n['Global']=df_n.iloc[:,5:8].sum(axis=1)

In [ ]:
df_n = df_n.round(2)

In [ ]:
df_n


데이터 FIX

In [ ]:
df_n.head()

In [ ]:
df_n.describe()

In [ ]:
df_n.corr()

In [ ]:
sns.heatmap(data=df_n.corr(),annot=True)

게임 산업에 대한 분석

In [ ]:
plt.figure(figsize=(15, 10))
sns.countplot(x="Year", data=df_n, order = df_n.groupby(by=['Year'])['Name'].count().sort_values(ascending=False).index)
plt.xticks(rotation=90)
#게임 산업 전성기 2007~2011 추정 가능하다.

In [ ]:
data_year = df_n.groupby(by=['Year'])['Global'].sum()
data_year = data_year.reset_index()
# data_year.sort_values(by=['Global_Sales'], ascending=False)

In [ ]:
plt.figure(figsize=(15, 10))
sns.barplot(x="Year", y="Global", data=data_year)
plt.xticks(rotation=90)

가장 인기많은 회사 알아보기 TOP 10

In [ ]:
Publisher_Top10 = df_n[['Publisher', 'Global']]
Publisher_Top10 = Publisher_Top10.groupby('Publisher')['Global'].sum().sort_values(ascending=False).head(10)
Publisher_Top10 = pd.DataFrame(Publisher_Top10).reset_index()

In [ ]:
plt.figure(figsize=(15, 10))
sns.barplot(x='Publisher', y='Global', data=Publisher_Top10)
plt.xticks(rotation=90)

In [ ]:
# 주요 Publisher: Nintendo, Electronic Arts

어떤 장르가 인기 있는지

In [ ]:
plt.figure(figsize=(15, 10))
sns.countplot(x="Genre", data=df_n, order = df_n['Genre'].value_counts().index)
plt.xticks(rotation=90)

1. 지역별 게임 장르 선호도

In [ ]:
Genre_regional_sales = df_n.groupby('Genre')['NA_Sales','EU_Sales',	'JP_Sales',	'Other_Sales'].sum()

In [ ]:
Genre_regional_sales

In [ ]:
Genre_regional_sales.plot.bar(stacked=True, figsize=(15,10), ylabel='Total Sales', xlabel='Year',legend='reverse')

In [ ]:
Genre_regional_sales1 = Genre_regional_sales.groupby(by=['Genre']).sum()

In [ ]:
Genre_regional_sales2 = Genre_regional_sales1.reset_index()
Genre_regional_sales3 = pd.melt(Genre_regional_sales2, id_vars=['Genre'], value_vars=['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales'], var_name='Sale_Area', value_name='Sale_Price')
Genre_regional_sales3.head()

In [ ]:
plt.figure(figsize=(15, 10))
sns.barplot(x='Sale_Area', y='Sale_Price', hue='Genre', data=Genre_regional_sales3)

전체 시장에 대한 파이 분석

In [ ]:
Market_Share = Genre_regional_sales3.groupby('Sale_Area')['Sale_Price'].sum()
Market_Share = pd.DataFrame(Market_Share)

In [ ]:
Market_Share.reset_index(drop = False, inplace = True)

In [ ]:
Market_Share

In [ ]:
plt.pie(Market_Share['Sale_Price'], labels=Market_Share['Sale_Area'],autopct='%.1f%%', pctdistance=0.8, radius=2)
plt.show

In [ ]:
#시장 파이: 북미(49%) > 유럽 (27%) > 일본 (15%) > 기타 (9%)

In [ ]:
Genre_regional_sales.reset_index(drop = False, inplace = True)

In [ ]:
Genre_regional_sales.head()

지역별로 조금더 구체적인 비율을 알아보기 위해 파이차트를 그려서 퍼센테이지를 파악한다.

In [ ]:
plt.pie(Genre_regional_sales['NA_Sales'], labels=Genre_regional_sales['Genre'],autopct='%.1f%%', pctdistance=0.8, radius=2)
plt.show
#북미지역: Action, Sports, shooter

In [ ]:
plt.pie(Genre_regional_sales['EU_Sales'], labels=Genre_regional_sales['Genre'],autopct='%.1f%%', pctdistance=0.8, radius=2)
plt.show
#유럽지역: Action, Sports, shooter

In [ ]:
plt.pie(Genre_regional_sales['JP_Sales'], labels=Genre_regional_sales['Genre'],autopct='%.1f%%', pctdistance=0.8, radius=2)
plt.show
#일본지역: Role-Playing

In [ ]:
plt.pie(Genre_regional_sales['Other_Sales'], labels=Genre_regional_sales['Genre'],autopct='%.1f%%', pctdistance=0.8, radius=2)
plt.show
#기타지역: Action, Sports, shooter

- 지역별 출고량 변화

In [ ]:
yearly_regional_sales = df_n.groupby('Year')['NA_Sales',	'EU_Sales',	'JP_Sales',	'Other_Sales'].sum()

In [ ]:
yearly_regional_sales2 = yearly_regional_sales.reset_index()
yearly_regional_sales3 = pd.melt(yearly_regional_sales2, id_vars=['Year'], value_vars=['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales'], var_name='Sale_Area', value_name='Sale_Price')
yearly_regional_sales3.head()

In [ ]:
plt.figure(figsize=(30, 10))
sns.barplot(x='Year', y='Sale_Price', hue='Sale_Area', data=yearly_regional_sales3)

In [ ]:
yearly_regional_sales.plot.bar(stacked=True, figsize=(20,10), ylabel='Total Sales', xlabel='Year',legend='reverse')

2. 연도별 게임 Trend

In [ ]:
year_sale_dx = df_n.groupby(by=['Year', 'Genre'])['Global'].sum().reset_index()
year_sale = year_sale_dx.groupby(by=['Year'])['Global'].transform(max) == year_sale_dx['Global']
year_sale_max = year_sale_dx[year_sale].reset_index(drop=True)

In [ ]:
genre = year_sale_max['Genre']

In [ ]:
plt.figure(figsize=(30, 15))
g = sns.barplot(x='Year', y='Global', data=year_sale_max)
index = 0
for value in year_sale_max['Global']:
    g.text(index, value + 1, str(genre[index] + ':' +str(round(value, 2))), color='#000', size=10, rotation= 90, ha="center")
    index += 1

plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize=(30, 10))
sns.countplot(x="Year", data=df_n, hue='Genre', order=df_n.Year.value_counts().iloc[:10].index)
plt.xticks(size=16, rotation=90)

In [ ]:
df_n = df_n.astype({'Year':'int'})
df_n.dtypes

In [ ]:
conditionlist = [
    (df_n['Year'] >= 2010) ,
    (df_n['Year'] >= 2000) ,
    (df_n['Year'] >= 1990),
    (df_n['Year'] >= 1980)]
choicelist = ['2010', '2000', '1990', '1980']
df_n['Trend_Year'] = np.select(conditionlist, choicelist, default='Not Specified')

In [ ]:
df_n = df_n.astype({'Trend_Year':'int'})

In [ ]:
plt.figure(figsize=(30, 10))
sns.countplot(x="Trend_Year", data=df_n, hue='Genre')
plt.xticks(size=16, rotation=90)

3. 출고량이 높은 게임에 대한 분석 및 시각화

In [ ]:
top_game_sale = df_n.sort_values(by='Global', ascending=False).head(20)
top_game_sale

In [ ]:
top_game_sale = top_game_sale[['Name', 'Platform', 'Year', 'Genre', 'Global']]
# top_game_sale

In [ ]:
top_game_sale.reset_index(drop = False, inplace = True)

In [ ]:
name = top_game_sale['Name']
year = top_game_sale['Year']
platform = top_game_sale['Platform']
y = np.arange(0, 20)

In [ ]:
plt.figure(figsize=(30, 18))
g = sns.barplot(x='Name', y='Global', data=top_game_sale)

index = 0
for value in top_game_sale['Global']:
    g.text(index, value-16, name[index], color='#000', size=14, rotation= 90, ha="center")
    g.text(index, value+12, platform[index], color='#000', size=14, rotation= 90, ha="center")
    index += 1

plt.xticks(y, top_game_sale['Year'], fontsize=14, rotation=90)
plt.xlabel('Release Year')
plt.show()

In [ ]:
Pub = df_n[['Publisher', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global']]

In [ ]:
Pub = Pub.groupby(by=['Publisher']).sum().reset_index().sort_values(by=['Global'], ascending=False)
Pub = Pub.head(10)

In [ ]:
Pub = pd.melt(Pub, id_vars=['Publisher'], value_vars=['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales'], var_name='Sale_Area', value_name='Sale_Price')

In [ ]:
Pub

In [ ]:
plt.figure(figsize=(30, 15))
sns.barplot(x='Publisher', y='Sale_Price', hue='Sale_Area', data=Pub)
plt.xticks(fontsize=14, rotation=90)
plt.yticks(fontsize=14)
plt.show()

In [ ]:
# 닌텐도는 일본 시장에서 주로 두각을 나타낸다. 북미와 유럽 지역의 다른 Publisher 비슷

In [ ]:
Popular_Platform = df_n.groupby('Platform')['Name'].count().reset_index().sort_values(by='Name', ascending=False).rename(columns={'Name':'Game Count'}) 
Popular_Platform.head()

In [ ]:
#어느정도 입지가 있는 게임기기 플랫폼: PS(플레이스테이션) , 닌텐도(DS/Wii)

In [ ]:
Main_Pub_Platform = df_n[['Publisher', 'Platform', 'Genre','Global']]
Main_Pub_Platform

In [ ]:
str_expr = "(Publisher == 'Nintendo') or (Publisher ==  'Electronic Arts')" 
Main_Pub_Platform = Main_Pub_Platform.query(str_expr)

In [ ]:
Main_Pub_Platform

In [ ]:
plt.figure(figsize=(30, 15))
sns.barplot(x='Publisher', y='Global', hue='Platform', data=Main_Pub_Platform)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
plt.show()

In [ ]:
plt.figure(figsize=(30, 15))
sns.barplot(x='Publisher', y='Global', hue='Genre', data=Main_Pub_Platform)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
plt.show()

In [ ]:
df_n["Generalize"] = df_n["Platform"]

In [ ]:
df_n

In [ ]:
Generalize = {"PS2":"PS", "PS3":"PS", "PS4":"PS", "PSV":"PS_E", "PSP":"PS_E", "3DS":"DS", "GBA":"GB", "SNES":"NES", "N64":"NES"}
df_n["Generalize"] = df_n["Platform"].replace(Generalize)

In [ ]:
df_n

In [ ]:
df_n_g = df_n.query(str_expr)

In [ ]:
plt.figure(figsize=(30, 15))
sns.barplot(x='Publisher', y='Global', hue='Generalize', data=df_n_g)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
plt.show()

In [ ]:
#닌텐도 회사의 주력 platform위주 분석

In [ ]:
str_expr1 = "(Platform == 'Wii') or (Platform ==  'NES') or (Platform == 'GB')" 
Main_Pub_Platform_EX = Main_Pub_Platform.query(str_expr1)  
Main_Pub_Platform_EX

In [ ]:
plt.figure(figsize=(30, 15))
sns.barplot(x='Platform', y='Global', hue='Genre', data=Main_Pub_Platform_EX)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
plt.show()

In [ ]:
#Electronic Arts	 회사의 주력 platform위주 분석

In [ ]:
str_expr2 = "(Platform ==  'PS4') or (Platform == 'GB')" 
Main_Pub_Platform_EX2 = Main_Pub_Platform.query(str_expr2)  
Main_Pub_Platform_EX2

In [ ]:
plt.figure(figsize=(30, 15))
sns.barplot(x='Platform', y='Global', hue='Genre', data=Main_Pub_Platform_EX2)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
plt.show()

In [ ]:
str_expr3 = "(Genre ==  'Action') or (Genre == 'Sports')" 
Key_Genre = df_n.query(str_expr3)  
Key_Genre

In [ ]:
#가장 인기있는 장르인 action과 sports는 어디 플랫폼을 이용하는지 의문생김

In [ ]:
plt.figure(figsize=(30, 15))
sns.barplot(x='Genre', y='Global', hue='Platform', data=Key_Genre)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
plt.show()

닌텐도 회사의 게임 중 장르가 액션과 스포츠인 것

In [ ]:
condition1 = "(Publisher == 'Nintendo')"
Nin = df_n.query(condition1)  
Nin

In [ ]:
condition2 = "(Genre ==  'Action') or (Genre == 'Sports')" 
Nin = Nin.query(condition2)  
Nin

In [ ]:
plt.figure(figsize=(30, 15))
sns.barplot(x='Publisher', y='Global', hue='Genre', data=Nin)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
plt.show()

In [ ]:
plt.figure(figsize=(30, 15))
sns.barplot(x='Publisher', y='Global', hue='Platform', data=Nin)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
plt.show()

Electronic Arts 회사의 게임 중 장르가 액션과 스포츠인 것

In [ ]:
condition3 = "(Publisher == 'Electronic Arts')"
Elec = df_n.query(condition3)  
Elec

In [ ]:
condition4 = "(Genre ==  'Action') or (Genre == 'Sports')" 
Elec = Elec.query(condition4)  
Elec

In [ ]:
plt.figure(figsize=(30, 15))
sns.barplot(x='Publisher', y='Global', hue='Genre', data=Elec)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
plt.show()

In [ ]:
plt.figure(figsize=(30, 15))
sns.barplot(x='Publisher', y='Global', hue='Platform', data=Elec)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
plt.show()

In [ ]:
game_group_region_sales_table = pd.DataFrame()
game_group_region_sales = df_n.groupby('Name')[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].sum()

for i in ['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']:
    game_group_region_sales_table[i] = game_group_region_sales.sort_values(by=i, ascending=False).reset_index()['Name']

game_group_region_sales_table.head(5)

In [ ]:
df_n[df_n['Name'] =='Pokemon Red/Pokemon Blue']

In [ ]:
df_n[df_n['Name'] =='Grand Theft Auto: San Andreas']

In [ ]:
df_n[df_n['Name'] =='Wii Sports']